* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Assistant,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar */

header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  margin: 0 0 10px 0;
  overflow-x: hidden;
}

.myntra_home {
  height: 46px;
}

.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-shrink: 0;
}

.nav_bar a {
  font-size: 14px;
  color: #282c3f;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0;
  border-bottom: 3px solid #fff;
}

.nav_bar a:hover{
    border-bottom: 3px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-weight: 600;
  font-size: 10px;
}

.search_bar {
  max-width: 500px;
  min-width: 400px;
  height: 40px;
  line-height: 0;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    border-radius:  4px 0 0 4px;
}

.search_input {
  background-color: #f5f5f6;
  color: #696e79;
  font-size: 14px;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius:  0 4px 4px 0;
}


.action_bar{
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
    justify-content: space-around;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main */

/* Banner */

.banner_image{
    width: 100%;
    padding: 0 60px;
}

.banner_image2{
  width: 100%;
  margin: 20px 0;
}