* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Assistant,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar */

header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 10px 0;
  overflow-x: hidden;
}

.wrapper1 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 4%; */
  margin: 0 10px;
}

.wrapper2 {
  width: 50%;
  display: flex;
  gap: 2rem;
}

.myntra_home {
  height: 46px;
}

.logo_container {
  margin: 0 3rem;
}

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  gap: 1.6rem;
  flex-shrink: 0;
  margin-right: 20px;
}

.nav_bar a {
  font-size: 14px;
  color: #282c3f;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0;
  border-bottom: 3px solid #fff;
}

.nav_bar a:hover {
  border-bottom: 3px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-weight: 600;
  font-size: 10px;
}

.search_bar {
  min-width: 60%;
  max-width: 50%;
  height: 40px;
  line-height: 0;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 4px 0 0 4px;
}

.search_input {
  background-color: #f5f5f6;
  color: #696e79;
  font-size: 14px;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  justify-content: space-around;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main */

/* Banner */

.banner_image {
  width: 100%;
  padding: 0 60px;
}

.banner_image2 {
  width: 100%;
  padding: 20px 0 15px;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_items {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.sale_items {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ya cover */
  flex-shrink: 1;
}


.shop_category_items{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap:0;
  width: 100%;
  place-items: center;
  justify-items: center;
}

.shop_category_items img{
  width: 100%;
  height: auto;
  display: block;  
}



/* Footer */

footer{
  background-color: #FAFBFC;
  width: 100%;
  overflow-x: hidden;
}

.footer_container{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 20px 0;
}

.links{
  display: flex;
  flex-direction: column;
}

.links h3{
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.links a{
  color: #696b79;
}

.app_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myntra_app_links img{
  width: 140px;
}

.footer_assurance_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.gurantee_content, .replacement_content{
  display: flex;
  gap: 20px;
}

.footer_img{
  width: 50px;
  height: 40px;
}

.gurantee_content span, .replacement_content span{
  max-width: 300px;;
}

.footer_popular_search_container{
  max-width: 80%;
  margin: auto;
  padding: 20px 0;
}
.footer_popular_search_container a{
   color: #696b79;;
}