* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Assistant,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar */

header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 10px 0;
  overflow-x: hidden;
}

.wrapper1 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 4%; */
  margin: 0 10px;
}

.wrapper2 {
  width: 50%;
  display: flex;
  gap: 2rem;
}

.myntra_home {
  height: 46px;
}

.logo_container {
  margin: 0 3rem;
}

.action_bar {
  /* margin-right: rem; */
}

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  gap: 1.6rem;
  flex-shrink: 0;
  margin-right: 20px;
}

.nav_bar a {
  font-size: 14px;
  color: #282c3f;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0;
  border-bottom: 3px solid #fff;
}

.nav_bar a:hover {
  border-bottom: 3px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-weight: 600;
  font-size: 10px;
}

.search_bar {
  min-width: 60%;
  max-width: 50%;
  height: 40px;
  line-height: 0;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 4px 0 0 4px;
}

.search_input {
  background-color: #f5f5f6;
  color: #696e79;
  font-size: 14px;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  justify-content: space-around;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main */

/* Banner */

.banner_image {
  width: 100%;
  padding: 0 60px;
}

.banner_image2 {
  width: 100%;
  padding: 20px 0 15px;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category_items {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.sale_items {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ya cover */
  flex-shrink: 1;
}
