* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0 0 0 / 87%);
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Navbar */
nav {
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: padding 0.2s ease;
}

.nav-content {
  display: flex;
  max-width: 1650px;
  margin: auto;

  font-size: 1rem;
}

.nav-content .logo-starbucks {
  width: 3.3rem;
  margin: 0 15px;
}

.nav-wrapper {
  display: flex;
  max-width: 1500px;
  margin: auto auto auto 0;
  padding: 0 20px;
  flex: 1;
}

.nav-left ul {
  display: flex;
  gap: 1.8rem;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
}

.nav-right {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}

.nav-right a {
  text-decoration: none;
  color: rgb(0 0 0 / 87%);
}

.sign-in,
.join-now {
  padding: 7px 15px;
  border-radius: 50px;
  border-style: none;
  border: 1.5px solid black;
  font-size: 0.9rem;
  font-weight: 550;
}

.join-now {
  background-color: #010405;
  color: #ffffff;

  transition: opacity 0.2s ease;
}

.join-now:hover {
  cursor: pointer;
  opacity: 1;
}

.sign-in:hover {
  background-color: #d9d6d6;
  cursor: pointer;
}

.nav-left ul li:hover {
  cursor: pointer;
  color: #006241;
}

.nav-right a:hover {
  color: #006241;
}

.nav-wrapper .menu {
  font-size: 1.5rem;
  font-weight: 500;
  display: none;
}

/* Main - grid */
.grid {
  display: grid;
  row-gap: 2rem;
  max-width: 1450px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}

.box {
  /* height: 200px; */
  border: 1px solid black;
}

.first {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #32462f;
  color: #d9d6d6;
  padding: 45px 0;

  font-family: "Fira Sans", sans-serif;
  font-size: 0.6rem;
  font-weight: 500;
  font-style: normal;

  transition: all 0.3s ease;
}

.first a{
    text-decoration: none;
    color: #d9d6d6;
    margin: 0 10px;
    border: 2px solid #d9d6d6;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 1.1rem;

    transition: background-color 0.3s ease;
}

.first a:hover{
    background-color: #006241;
}

/* Media querries */

/* Navbar */
@media screen and (max-width: 780px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .nav-wrapper .menu {
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-left: auto;
  }
  /* Promo Banner */
  .first{
    font-size: 0.5rem;
    padding: 40px;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 10px 0;
  }
}

/* Promo Banner */

@media screen and (max-width: 500px) {
  .first {
    flex-direction: column;
    gap: 10px;
    padding: 30px;
  }
}