@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

.header-inner {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  height: 100px;
  transition: all 0.2s ease;
}

.logo-container {
  padding: 0 20px 0 0;
}

.logo-container img {
  width: 3.2rem;
}

nav {
  /* width: 100%; */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;

  flex: 1;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-left a,
.nav-right a {
  font-weight: 700;
  color: #000;
}

.find_a_store {
  margin-right: 25px;
}

.location-icon {
  font-size: 23px;
  margin: 0 5px;
}

.nav-btn {
  border: 1px solid;
  border-radius: 20px;
  padding: 6px 10px;
  line-height: 1.2;
}

#join-now {
  background-color: #000;
  color: #fff;
}

.menu {
  font-size: 23px;
  display: none;
}

/* Responsive */

/* Navbar */

@media screen and (max-width: 1000px){
    .header-inner{
        height: 80px;
    }
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .menu {
    display: block;
    margin-left: auto;
  }

}
